
:root{
    --background: #065143;
    --midground: #1c2541;
    --foreground: #129490;
    --text: #70B77E;
    --text_size: 26vh;
    --diameter: 75vh;
    --expanded_size_vertical: 100vw;
    --expanded_size_horizontal: 100vw;
}

html {
    background-color: var(--background);
    overflow: hidden;
    
}

button {
    box-shadow: none;
    background-color: var(--text);
}

@keyframes shrink {
    from {
        height: var(--expanded_size_vertical);
        width: var(--expanded_size_horizontal);
        background-color: transparent;
    }
    to {
        height: var(--diameter);
        width: var(--diameter);
        background-color: var(--foreground);
    }
}

@keyframes expand {
    from {
        height: var(--diameter);
        width: var(--diameter);
        background-color: var(--foreground);
    }
    to {
        height: var(--expanded_size_vertical);
        width: var(--expanded_size_horizontal);
        background-color: transparent;
    }
}

.anim_dot {
    height: var(--diameter);
    width: var(--diameter);
    background-color: var(--foreground);
    border-radius: 50%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    animation-duration: 0.8s;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    overflow:hidden;
}

.dot {
    height: var(--diameter);
    width: var(--diameter);
    background-color: var(--midground);
    border-radius: 50%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.centre {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.timer{
    overflow: visible;
    color: var(--text);
    font-size: var(--text_size);
    text-align: center;
    width: calc(var(--diameter)*0.9);
    background-color: transparent;
    border: transparent;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
