
html {
    background-color: #0b132b;
    overflow:hidden;
}

button {
    box-shadow: none;
    background-color: #3a506b;
}

@keyframes shrink {
    from {
        height: 1920px;
        width: 1920px;
        background-color: transparent;
    }
    to {
        height: 500px;
        width: 500px;
        background-color: #1c2541;
    }
}

@keyframes expand {
    from {
        height: 500px;
        width: 500px;
        background-color: #1c2541;
    }
    to {
        height: 1920px;
        width: 1920px;
        background-color: transparent;
    }
}

.anim_dot {
    height: 500px;
    width: 500px;
    background-color: #1c2541;
    border-radius: 50%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    animation-duration: 0.8s;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    overflow:hidden;
}

.dot {
    height: 500px;
    width: 500px;
    background-color: #1c2541;
    border-radius: 50%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.centre {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.timer{
    color: #3a506b;
    font-size: 8em;
    text-align: center;
    width: 450px;
    background-color: transparent;
    border: transparent;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
